.footer--form{
  background: url("../../assets/Background-Contact-Form.jpg") center/cover;
  display: flex;
  justify-content: center;
  height: 1026px;
  position: relative;
  .form--container{
    flex-grow: 1;
    max-width: 1600px;
    height: 100%;
    display: flex;
    justify-content: right;
    .form--title{
      font-size: 38px;
      position: relative;
      margin-bottom: 126px;
    }
    .form--title::before{
      content: "";
      position: absolute;
      left: calc(50% - 125px);
      bottom: -58px;
      background: url("../../assets/Decoration.svg") center/cover;
      width: 250px;
      height: 33px;

    }
    .form--box{
      position: relative;
      max-width: 528px;
      filter: none;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      .form{
        display: flex;
        flex-flow: wrap;
        justify-content: right;
        .inputs{
          width: 100%;
          display: flex;
          .input{
            width: 100%;
            background: none;
            border: none;
            border-bottom: 1px solid $color--4;
            margin: 5px;
            h3{
              margin-bottom: 12px;
            }
            input{
              background: none;
              border: none;
            }
            input:focus{
              outline: none;
            }
          }
        }
        .textarea{
          width: 100%;
          background: none;
          border: none;
          border-bottom: 1px solid $color--4;
          margin: 40px 5px 5px 5px;
          h3{
            margin-bottom: 12px;
          }
          textarea{
            width: 100%;
            background: none;
            border: none;
            height: 90px;
          }
          textarea:focus{
            outline: none;
          }
        }
        textarea::placeholder{
          font-family: $font-base;
        }
      }
    }
  }
  .footer{
    position: absolute;
    bottom: 0;
    padding-bottom: 22px;
    max-width: 1600px;
    display: flex;
    align-items: center;
    //flex-grow: 1;
    h5{
      width: 100%;
      text-align: center;
    }
  }
  a{
    position: absolute;
    bottom: 20px;
  }
  a:last-of-type{
    margin-right: 50px;
  }
}
.footer--form::before{
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.7);
  position: absolute;
}
