
.about--container{
  margin-top: 58px;
  display: flex;
  .about--photo{
    width: 50%;
    background: url("../../assets/People.jpg") left/cover;
  }
  .about--content{
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: $color--1;
    width: 50%;
    padding: 186px 0;
    .signature{
      width: 100%;
      position: relative;
      img{
        position: absolute;
      }
    }

    .about--title{
      font-size: 38px;
      position: relative;
      margin-bottom: 126px;
    }
    .about--title::after{
      content: "";
      position: absolute;
      left: calc(50% - 125px);
      bottom: -58px;
      background: url("../../assets/Decoration.svg") center/cover;
      width: 250px;
      height: 33px;
    }
  }
}