
.header{
  font-family: $font-base;
  display: flex;
  height: 963px;
  margin-right: 142px;
  .main--photo{
    width: 50%;
    background: black;
    background: url("../../assets/Home-Hero-Image.jpg") right/cover;
  }
  .header--container{
    width: 50%;
    position: relative;
    .header--nav{
      position: absolute;
      right: 0;
      display:flex;
      flex-direction: column;
      .login--panel{
        text-align: right;
        margin-top: 37px;
        font-size: 13px;
        .login--link{
          padding: 10px;
          border: 0.75px solid #FAD648;
          width: 100%;
          margin: 10px;
          text-decoration: none;
          color: $color--4;
        }
      }
      .nav{
        width: 100%;
        text-align: right;
        margin-top: 40px;
        .nav--link{

          padding: 20px 25px;
          transition: 0.3s;
        }
        .nav--link:hover{
          opacity: 0.4;
          background-color: $color--3;
        }
      }
    }


    .header--main{
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column;
      h1{
        text-align: center;
        font-size: 38px;
        letter-spacing: -0.76px;
        color: #3C3C3C;
        opacity: 1;
        margin-bottom: 123px;
        position: relative;
      }
      h1::after{
        left: calc(50% - 125px);
        bottom: -58px;
        content: "";
        position: absolute;
        background: url("../../assets/Decoration.svg") center/cover;
        width: 250px;
        height: 33px;
      }
      .buttons{
        .main--button{
          font-size: 36px;
          font-family: $font-base;
          font-weight: 300;
          width: 310px;
          height: 120px;
          margin: 22px;
          background: none;
          border: 0.75px solid #3C3C3C;
        }
      }
    }
  }
}