.register--container{
  height: 946px;
  display: flex;
  justify-content: center;
  align-items: center;
  .register--title{
    margin-top: 250px;
    text-align: center;
    font-size: 40px;
    letter-spacing: -0.76px;
    color: #3C3C3C;
    opacity: 1;
    margin-bottom: 123px;
    position: relative;
    }
    .register--title::after{
      left: calc(50% - 125px);
      bottom: -58px;
      content: "";
      position: absolute;
      background: url("../../assets/Decoration.svg") center/cover;
      width: 250px;
      height: 33px;
    }
  .register--form{
    background: $color--1;
    margin-bottom: 40px;
    .register--form--container{
      width: 250px;
      padding: 40px 67px 15px 67px;
      .register--form--container--title{
        margin-bottom: 20px;
      }
      .register--form--container--input{
        width: 100%;
        background: $color--1;
        border: none;
        border-bottom: 1px solid $color--4;
        &:focus{
          outline: none;
        }
      }
    }
    .register--form--container:last-child{
      padding-bottom: 40px;
    }
  }
  .register--buttons--container{
    //width: 500px;
    display: flex;
    justify-content: space-between;

    .register--buttons{
      font-size: 18px;
      font-family: $font-base;
      font-weight: 300;
      width: 150px;
      height: 50px;
      margin-left: -65px;
      background: none;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      .register--link{
        text-decoration: none;
        color: $color--5;
      }
    }
    .register--buttons:last-child{
      margin-right: -65px;
      border: 0.75px solid #3C3C3C;
    }
  }
}