@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import "settings/colors";
@import "settings/main_fonts";
@import "reset.css";
@import "Home/home_header";
@import "Home/home_threeColumns";
@import "Home/home_handover";
@import "Home/home_aboutUs";
@import "Home/home_help";
@import "Home/home_form";
@import "User/login";
@import "User/register";
@import "User/logout";

body{
  font-family: $font-base;
  color: $color--5;
}
.main--button{
  font-size: 36px;
  font-family: $font-base;
  font-weight: 300;
  width: 310px;
  height: 120px;
  margin: 22px;
  background: none;
  border: 0.75px solid #3C3C3C;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover{
    cursor: pointer;
  }
}
.tab--buttons{
  border: none;
}
.tab--buttons:focus{
  border: 0.75px solid #3C3C3C;
  border-radius: 0;
}
.main--button:focus{
  outline: none;
}

@mixin decoration {
  content: "";
  position: absolute;
  background: url("../../assets/Decoration.svg") center/cover;
  width: 250px;
  height: 33px;
}
.bottom--button{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-family: $font-base;
  font-weight: 300;
  width: 40px;
  height: 50px;
  margin: 22px;
  background: none;
  &:hover{
    cursor: pointer;
  }
  //border: 0.75px solid #3C3C3C;
}
.bottom--button:focus{
  border-radius: 0;
  border: 0.75px solid #3C3C3C;
}

.send--button{
  font-size: 18px;
  font-family: $font-base;
  font-weight: 300;
  width: 150px;
  height: 50px;
  margin: 22px 5px 22px 22px;
  background: none;
  border: 0.75px solid #3C3C3C;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover{
    cursor: pointer;
  }
}